 <!-- Participate Section -->
    <section class="success" id="participate">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Participate</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-lg-offset-2">
                    <p><i class="fa fa-wheelchair"></i> Do you need a disability-related accommodation or wheelchair access information?</p>
                </div>
                <div class="col-lg-3">
                    <p>Interested in participating in Earth Day?</p>
                </div>
                <div class="col-lg-3">
                    <p>Would you like to join the Fresno State Sustainability Project?</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="mailto:{{ site.email }}" class="btn btn-lg btn-outline">
                        <i class="fa fa-envelope"></i>&nbsp;&nbsp;Contact the Organizers
                    </a>
                </div>
            </div>
        </div>
    </section>